name: Build

on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: |
          npm ci
      - name: Run check:ts
        run: |
          npm run check:ts
      - name: Run lint
        run: |
          npm run lint
      - name: Run build
        run: |
          npm run build
      - name: Run frontend tests
        env:
          VITE_KEYCLOAK_CLIENT_ID: ci
          VITE_KEYCLOAK_BASE_URL: http://localhost
          VITE_KEYCLOAK_REALM: ci
          VITE_BADGEHUB_API_BASE_URL: http://localhost
          VITE_BADGE_SLUGS: why2025,mch2022,mcore
        run: |
          npm run test --workspace=packages/frontend
      - name: Report Coverage
        if: always() && hashFiles('packages/backend/coverage/coverage-summary.json') != ''
        uses: davelosert/vitest-coverage-report-action@v2
        with:
          working-directory: packages/backend
